
<table>
    <tr>
        <td>
            @Html.Partial("_GridViewCommandPanel", new DANN.Web.Models.CommandPanelOptions
                                            {
                                                controlIndex = 1,
                                                controlName = "CodeKindGridView",
                                                control2Name = "CodeGridView",
                                                Add = true,
                                                Edit = true,
                                                Delete = true,
                                                Save = true,
                                                Reload = true,
                                                Print = true,
                                                CondictionToAutoSave = "$('#CodeKindGridView_DXEditor0_I').val() != ''&& $('#CodeKindGridView_DXEditor1_I').val() != ''",
                                            })
        </td>
        <td width="20px"></td>
        <td>
            @Html.Partial("_GridViewCommandPanel", new DANN.Web.Models.CommandPanelOptions
                                            {
                                                controlIndex = 2,
                                                controlName = "CodeGridView",
                                                Add = true,
                                                Edit = true,
                                                Delete = true,
                                                Save = true,
                                                Reload = true,
                                                Print = true,
                                                CondictionToAutoSave = "$('#CodeGridView_DXEditor0_I').val() != '' && $('#CodeGridView_DXEditor1_I').val() != ''",
                                            })
        </td>
    </tr>
    <tr>
        <td valign="top">
            @Html.Action("Load")
        </td>
        <td></td>
        <td valign="top">
            @Html.Action("Load1")
        </td>
    </tr>
</table>
