<div>
    <div>
        <div>
            @using (Html.BeginForm("BieuDo", "BDBieuDo"))
            {
                <fieldset>
                    <legend>Tiêu chí lập biểu đồ</legend>
                    <table>
                        <tr>
                            <td>Kỳ Báo Cáo(<span class="option">*</span>)</td>
                            <td>
                                <div>
                                    @Html.Action("ListChecBoxKBCPartial")

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Nhóm chỉ tiêu</td>
                            <td>
                                @Html.Action("ComboBoxPhanHePartial")
                            </td>
                        </tr>
                        <tr>
                            <td>Chỉ tiêu (<span class="option">*</span>)</td>
                            <td>
                                @Html.Action("TreeListChiTieuPartial")
                            </td>
                        </tr>
                        <tr>
                            <td>Địa phương (<span class="option">*</span>)</td>
                            <td>@Html.Action("TreeListDiaPhuongPartial")</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <input type="submit" name="submit" id="submit" value="Xem biểu đồ" style="padding: 1px;" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
            }
        </div>
    </div>
</div>

